/*Style to align logo*/
header {
	background: url('../../assets/images/html5_logo.png') no-repeat 54.5% 32%;
}

/*Style for body*/
#body-html5 {
	margin: 10px auto;
	padding: 0;
	min-height: calc(100vh - 50px);
	width: 98%;
	border: 1px solid #d0d0d0;
	box-shadow: 0px 0px 8px #c5c5c5;
}

/*Style for form content*/
form p {
	margin-bottom: 5px;
}

/*Style for mark tag*/
mark {
	background: #D9F052;
}

/*Style for audio tag*/
audio {
	background-color: #66CDAA;
	padding: 6px 10px;
}

/*Style for detail tag*/
details {
	color: #908752;
}

/*Style for command tag*/
.command-element {
	background: #66CDAA;
	padding: 5px 10px;
	cursor: pointer;
	width: 70px;
	text-align: center;
}

/*Style for output tag*/
output {
	color: #899960;
}

/*Style for example container*/
.example-container h2 {
	padding: 5px 0px 5px 15px;
	margin: 0 -10px 15px;
	background-image: linear-gradient(to bottom, #c5c5c5 0%, #797979 100%);
	color: #040404;
	text-shadow: none;
	cursor: move;
}

.example-container h2::after {
	content: ':';
}

/*Style for drag drop feature*/
.drag-drop-holder {
	padding: 1%;
	width: 48%;
	display: table-cell;
}

.temp-div {
	background: #eee;
	height: 60px;
	width: 99%;
	border: 1px dashed #999;
	margin: 0 auto 10px;
}