<!DOCTYPE html>
<html>
	<head>
		<title>UI/UX - HTML 5</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/html5/style.css">
	</head>
	<body style="background: #F2F5FF">
		<header>
			<h1>HTML</h1>
		</header>
		<nav>
		</nav>
		<article>
			<aside>
				<h5>Page Content: </h5>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="README.md" id="read-more" target="_blank">read more..</a>
			</aside>
			<main ondragover="allowDrop(event)">
				<div id="first-div" class="drag-drop-holder" ondrop="drop(event)">
					
					<section id="section-audio" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">audio</h3>
						<audio controls>
							<source src="../assets/media/sample_audio.mp3" type="audio/mpeg"/>
							<source src="../assets/media/sample_audio.ogg" type="audio/ogg"/>
							<!-- This Line Will Be Called When You Are Running An Old Browser -->
							<p>Your browser doesn't support the HTML5 audio element.</p>
						</audio>
					</section>
				
				
					<section id="section-canvas" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">canvas</h3>
						<canvas id="canvas-uses" width="200" height="50" class="canvas-uses">
							<p>Your browser doesn't support the HTML5 canvas element.</p>
						</canvas>
					</section>
				
				
					<section id="section-command" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">command</h3>
						<!-- COMMAND Element is not supported by any of the browsers yet -->
						<div class="command-element" title="It doestn't work..">
							<command type="command" label="click" onclick="click()" title="It doestn't work..">Click Me</command>
						</div>
					</section>
				
				
					<section id="section-datalist" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">datalist</h3>
						<label> Country Code : </label>
						<input type="text" list="country" title="Doestn't know what to fill? Double click in box..">
						<datalist id="country">
							<option value="AMR">America</option>
							<option value="AUS">Australia</option>
							<option value="CAN">Canada</option>
							<option value="IND">India</option>
							<option value="SA">Sourth Africa</option>
						</datalist>
					</section>
				
				
					<section id="section-details" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">details & summary</h3>
						<details>
							<summary>
								This is the default/summary content.
							</summary>
							<p>This is the main/detailed content, which will be shown on clicking summary. Remember, not supported by Firefox, IE & Opera.</p>
						</details>
					</section>
				
				
					<section id="section-embed" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">embed</h3>
						<embed src="../assets/media/sample_audio.mp3"></embed>
					</section>
				
				
					<section id="section-figure" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">figure & figcaption</h3>
						<p>The quick brown fox jumps over a right lazy dog. The quick brown fox jumps over a right lazy dog. The quick brown fox jumps over a right lazy dog.</p>
						<figure>
							<img src="../assets/images/figure-image.jpg" width="400px">
							<figcaption> The quick brown fox jumps over a right lazy dog.
							</figcaption>
						</figure>
					</section>
				
				
					<section id="section-keygen" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">keygen</h3>
						<form method="GET" action="">
							<p>Username: </p><input type="text" name="text"><br><br>
							<p>Encryption: </p><keygen name="key"><br><br>
							<input type="submit" value="Submit" title="click to generate key.." />
						</form>
					</section>
				
				
					<section id="section-mark" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">mark</h3>
						<p>Here you can see how browser renders <mark>element enclosed in mark</mark> tag.</p>
					</section>
				</div>
				<div id="second-div" class="drag-drop-holder" ondrop="drop(event)">
					<section id="section-meter" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">meter</h3>
						<meter value="4" min="0" max="10" high="8" low="2">4 out of 10</meter>
					</section>
				
				
					<section id="section-nav" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">nav</h3>
						<nav>
							<a href="#">Nav 1</a> | <a href="#">Nav 2</a> | <a href="#">Nav 3</a> | <a href="#">Nav 4</a> | <a href="#">Nav 5</a>
						</nav>
					</section>
				
				
					<section id="section-output" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">output</h3>
						<form onsubmit="return false" oninput="document.getElementById('o').
						innerHTML = parseFloat(document.getElementById('a').value) +
						parseFloat(document.getElementById('b').value)">
							<input id="a" type="number" step="3"> +
							<input id="b" type="number" step="2"> =
							<output id="o"></output>
						</form>
					</section>
				
				
					<section id="section-progress" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">progress</h3>
						<progress value="0" max="100" id="progress-bar"></progress>
					</section>
				
				
					<section id="section-ruby" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">ruby</h3>
						<rudy>
							<rb>
								Ruby Base
							</rb>
							<rt>
								Ruby Text
							</rt>
							<rp>
								Ruby Parenthesis	
							</rp>
						</rudy>
					</section>
				
				
					<section id="section-svg" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">svg</h3>
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="95">
							<polygon points="50,5 20,90 95,30 5,30 80,90"/>
						</svg>
					</section>
				
				
					<section id="section-time" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">time</h3>
						<p>Mahatma Gandhi's birthday is on <time datetime="2008-10-02">2 october</time>.</p>
					</section>
				
				
					<section id="section-video" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">video</h3>
						<video  width="400px" controls>
							<source src="../assets/media/sample_video.mp4" type="video/mp4"/>
							<source src="../assets/media/sample_video.ogg" type="video/ogg"/>
							<track src="../assets/media/subtitles_en.vtt" kind="subtitles" srclang="en" label="English" default>
							<track src="../assets/media/subtitles_hi.vtt" kind="subtitles" srclang="hi" label="Hindi" default>
							<p>Your file doesn't support the video element</p>
						</video>
					</section>
				
				
					<section id="section-wbr" class="example-container" ondragover="showDropSpace(event)">
						<h3 draggable="true" ondragstart="drag(event)">wbr</h3>
						<p>This is my email id : <wbr>swapnilraja1212@gmail.com</wbr></p>
					</section>
				</div>
			</main>
		</article>
		<footer>
			<p>Footer section : Copyright &copy; 2012 html5.mysite.com</p>
		</footer>
		<footer>
			<p>One more section for footer</p>
		</footer>
	</body>
</html>
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/html5/script.js"></script>